<!-- Learned: order of precedence with competing classes is based on REVERSE order in CSS (which comes second will take precedence)-->

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
    .blue-text{
    color: blue;
  }
</style>
<h1 class="pink-text blue-text">Hello World!</h1>
